/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: brand;
    src: url(/fonts/brand.ttf);
}
@font-face {
	font-family: body;
    src: url(/fonts/body.ttf);
}

html, body {
	width: 100%;
	height: 100%;
	margin: auto;
	font-family: body;
}

#background_img {
	width: 100%;
	height: 100%;
	background-image: url("http://i.imgur.com/x87a2OS.png");
	opacity: 0.2;
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
}

.navbar-brand {
	font-family: brand;
}

