// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post  {
	background-color: rgba(255, 255, 255, 0.85);
	margin-top: 20px;
}

.img_post {
	padding: 20px 0px 20px 0px;
}
.title_post {
	display: inline-block;
}
.title_link {
	padding-left: 8px;
}

.character_name {
	padding-top: 20px;
	font-size: 4em;
	font-family: brand;
}

.character_description {
	font-size: 1.8em;
}